<h1>{{title}}</h1>
<main>
  <div id="sign-up-form">
    <form action="signup" method="post" id="signup-form">

      <div>
        <span><label>Username</label></span>
        <span><input type="text" name="username" id="username" placeholder="Enter Username"><br></span>

        <span><label>Password</label></span>
        <span><input type="password" name="password" id="password" placeholder="Enter Password"><br></span>

        <span><button type="submit">Sign Up</button></span>
      </div>

    </form>

    <a href="/">Already have an account? Click here to log-in</a>
    <h5>{{error}}</h5>
  </div>

</main>