<header>{{title}}</header>
<main>
  <form id="checkForPalindrome">
    <div class="label">
      <label>Enter Value to Check for Palindrome</label><br />
    </div><br />
    <textarea id="ValuePalindrome" /></textarea></br>
    <button class="submit" /><br />submit</button></br>
    <label id="error"></label>
    <ol id="attempts">
    </ol>
  </form>
  <footer>
    <div>
      Utsav Italiya 10475248 - This is Web Programming Lab 9
    </div>
  </footer>
</main>