<h1>TV Maze</h1>
<form action="post" id="searchForm">
  <label for="search_term"></label>
  <input type="text" id="search_term">
  <button type="submit">Submit</button>
</form>
<ul id="showList" class="visually-hidden"></ul>
<div id="show" class="visually-hidden"></div>
<a href="/" id="homeLink" class="visually-hidden">Back to All Shows</a>
<footer>Utsav Italiya(CWID: 10475248): This is lab 11</footer>
<script src="/public/js/home.js"></script>